@model Emarket.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="@Url.Content("~/Content/Css/Account/ChangePassword.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <div class="button">
        @Html.ActionLink("HOME", "Index", "Home", new { id = "" }, new { @class = "btn1" })
        @Html.ActionLink("BUY", "Index", "Products", new { id = "" }, new { @class = "btn2" })
        @Html.ActionLink("SIGN UP", "SignUp", "Account", new { id = "" }, new { @class = "btn3" })
    </div>
    <div class="container">
        <img src="@Url.Content("~/Content/Images/person_logo.png")" />
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <div class="avviso">
                <p>
                    @*<?php
                        include '../connessione.php';
                        if(isset($_REQUEST["messaggio"])){
                        echo $_REQUEST["messaggio"];
                        }
                        mysqli_close($conn);
                        ?>*@
                </p>
            </div>
            <div class="person_in">
                @Html.TextBoxFor(viewModel => viewModel.Username, new { placeholder = "insert your username here" })
            </div>
            <div class="pass_in">
                @Html.PasswordFor(viewModel => viewModel.Password, new { placeholder = "insert your password here" })
            </div>
            <div class="pass_in">
                @Html.PasswordFor(viewModel => viewModel.NewPassword, new { placeholder = "insert your new password here (> 7 char)" })
            </div>
            <div class="controlla_pass_in">
                @Html.PasswordFor(viewModel => viewModel.ReinsertedNewPassword, new { placeholder = "reinsert your new password here" })
            </div>
            <input type="submit" id="invia" name="invia" value="change password"><br>
        }
    </div>
</body>
</html>
