@model Emarket.ViewModels.Account.RecoverPasswordViewModel
@{
    ViewBag.Title = "RecoverPassword";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="@Url.Content("~/Content/Css/Account/RecoverPassword.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <div class="button">
        @Html.ActionLink("HOME", "Index", "Home", new { id = "" }, new { @class = "btn1" })
        @Html.ActionLink("BUY", "Index", "Products", new { id = "" }, new { @class = "btn2" })
        @Html.ActionLink("SIGN UP", "SignUp", "Account", new { id = "" }, new { @class = "btn3" })
    </div>
    <div class="container">
        <img src="@Url.Content("~/Content/Images/person_logo.png")">
        <p>
        </p>
        @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
        {
            <div class="email_in">
                @Html.TextBoxFor(viewModel => viewModel.Email, new { placeholder = "insert your mail address here" })
            </div>
            <div class="person_in">
                @Html.TextBoxFor(viewModel => viewModel.Username, new { placeholder = "insert your username here" })
            </div>
            <input type="submit" id="invia" name="invia" value="send mail"><br>
        }
    </div>
</body>
</html>